

<h2 class="dashUser">{{user.name}}</h2>

{{#each user.posts as |post|}}

    <div value="{{post.id}}"class="post">
        <div class="postTitle">
            <h4>{{post.title}}</h4>
            <h6>{{format_date post.date_created}}</h6>
        </div>
        <div class="postContent">
            <h5>{{post.content}}</h5>
        </div>
    </div>

    <div>
    <button class="editBtn">Edit</button>
    <button class="deleteBtn">Delete</button>
    </div>
    
{{/each}}

<input id="newPostTitle" placeholder="Blog post title..." class="hide">
<textarea id="newBlogPost" class="hide" placeholder="New blog post..."></textarea>
<div>
    <button id="newPostSaveBtn" class="hide">Save</button>
    <button id="cancelNewPost" class="hide">Cancel</button>
</div>



<hr>

<button id="newBlogPostBtn">New Blog Post</button>

<script src="/js/dashboard.js"></script>